body {
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
  padding: 24px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  height: auto;
  padding: 16px;
  background-color: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  font-size: 16px;
  padding: 8px 48px;
  margin: 0 8px;
  border: 2px solid transparent;
  border-color: black;
  border-radius: 4px;
  background-color: #d3d3d3;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container {
  flex: 1;
}

.memoedit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 16px;
}

.buttonarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.memoUnselected {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.newMemo {
  cursor: pointer;
  color: blue;
}
